/*
 *= require_tree .
 */

@import "partials/*"; 
@import "bootstrap-sprockets";
@import "bootstrap";

.nav-link { 
  color: #fff;
}
.nav-link {
  color: #505050;
}

a.btn:visited {
  color: #fff;
}
.glyphicon {
font-size: 2em;
text-align: center;
}
.top-nav {
  background-color: #000;
}
